* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --c1: #ffffff;
    --c2: #1e1d1db2;
    --c3: #b5b5b54f;
    --c4: #582e2e;
    --c5: #4b0909;
    --c6: #294e2d;
    --c7: #033300;
}

.login-main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    font-family: Verdana, sans-serif;
}

.login__background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.login__background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
}

.login__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--c2);
    z-index: 100;
}

.login__content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.login__content-login {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}


.login__content__login-user {
    width: 140px;
    height: 140px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--c3);
}

.login__content__login-user img {
    width: 100%;
    height: 100%;
}

.login__content-login h3 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 0px 0px 10px #424141;
}

.login__content__login-password {
    display: flex;
    align-items: center;
    position: relative;
    width: 200px
}

.login__content__login-password input {
    position: absolute;
    background-color: var(--c3);
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
}

.login__content__login-password img {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.login__content-login label {
    margin-top: 25px;
    padding: 10px 20px;
    width: 110px;
    letter-spacing: 1px;
    border-radius: 20px;
    background-color: #bdbdbd52;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#login {
    display: none;
}

.login__content-login label:hover {
    background-color: #bdbdbd6b;
}

input:checked ~ .login-main {
    display: none;
}

input:checked ~ main {
    display: block;
}

.main {
    position: relative;
    display: none;
    width: 100%;
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu {
    position: absolute;
    bottom: 1px;
    width: 100%;
}

.menu__icons {
    width: 60%;
    background-color: #000000a3;
    border-radius: 5px;
    margin: 0 auto;
}

.menu__icons ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 20px;
    padding: 10px 20px;
    color: #9999b7;
}

.menu__icons li:hover {
    color: #ffffff;
}

.menu__icons li label {
    cursor: pointer;
    padding: 5px;
}

#homeworks,
#notes,
#weather {
    display: none;
}

#homeworks:checked ~ .app__container,
#notes:checked ~ .app__container,
#weather:checked ~ .app__container {
    display: block;
}

.app__container {
    display: none;
    position: absolute;
    width: 80%;
    height: 85%;
    background-color: #111;
    left: 10%;
    top: 6%;
    z-index: 2000;
    border-radius: 10px;
}

.app__container-content {
    width: 100%;
    height: 100%;
}

.app__container-nav {
    height: 40px;
    border-bottom: 1px solid #ffffff;
    display: flex;
    justify-content: end;
    padding: 5px;
}

.app__container-nav label {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.app__container-nav label svg:hover {
    fill: #7a7a7a;
}

.app__container-nav label svg {
    width: 100%;
    height: 100%;
    fill: #ffffff;
}

/* Homeworks */
.homeworks-main {
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, sans-serif;
}

.homeworks-main h1 {
    font-size: 2.4em;
    margin-bottom: 20px;
    color: #fff3b8;
}

.homeworks-main__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    padding: 20px;
    gap: 20px;
}

.homeworks-main__card {
    padding: 20px;
    border-radius: 25px;
    min-width: 320px;
    max-width: 380px;
}

.homeworks-main__card h2 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.5rem;
}

.homeworks-main__todo {
    background-color: var(--c4);
}

.homeworks-main__todo h2 {
    color: var(--c5);
}

.homeworks-main__done {
    background-color: var(--c6);
}

.homeworks-main__done h2 {
    color: var(--c7);
}

.homeworks-main__card h2 span {
    font-size: 1.1rem;
    font-weight: lighter;
}

.homeworks-main__card ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.homeworks-main__card label {
    font-size: 13px;
}

/* Notes */

/* Weather */